#test-header {
    position: fixed;
    top:0;
    left: 0;
    width: auto;
    z-index: 2;
    height: 20px;
}

.card-block{
    margin-top: 0px;
    height: 650px;
   overflow-y: auto;
   overflow-x: hidden;
}
